<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myMilkProject.Properties.Settings.milkdatabaseConnectionString"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=milkdatabase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>